/* For Google Chrome (125% zoom level) */
@media screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (min-resolution: 120dpi) {}

@media (max-width: 991px) {
  .plan-card-content ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  section.plan .row {
    gap: 20px;
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 350px;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .modal-body::-webkit-scrollbar {
    width: 8px;
    background: #0056b3;

  }

  .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .modal-body::-webkit-scrollbar-thumb {
    background: #007bff;
    /* Scrollbar color */
    border-radius: 10px;
  }

  .modal-body::-webkit-scrollbar-thumb {
    background: #0056b3;
    /* On hover */
  }

  /* Optional for Firefox */
  .modal-body {
    scrollbar-width: thin;
    scrollbar-color: #007bff #f1f1f1;
  }

  .hero .img-box-content {
    display: none;
  }

  .hero-content {
    text-align: center;
    padding: 0;
    background: transparent;
  }

  .out-come-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .sec-01-card {
    margin-bottom: 20px;
  }

  .sec-01 {
    padding: 50px 0;
    margin: 0;
  }

  .provide-content {
    text-align: center;
  }

  .provide-card .img-box-content {
    height: 300px;
    width: 100%;
  }

  .provide-card {
    position: relative;
  }

  .provide-card {}

  .provide-card h4 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .provide-card .img-box-content:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #000000ab;
  }

  section.provide {
    padding: 50px;
  }

  .advantages-heading {
    text-align: center;
  }

  .sec-01-card.advantage-card {
    height: auto;
    margin-bottom: 20px;
  }

  .result-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .result-content>span:after {
    bottom: 0;
    border-radius: 0;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
  }

  .result-content>span {
    padding-left: 0;
    padding-bottom: 5px;
  }

  section.result .row {
    flex-direction: column-reverse;
  }

  section.result .resul-mask {
    display: none;
  }

  .contact-us-sec-content {
    text-align: center;
    align-items: center;
  }

  section.testi {
    padding-top: 50px;
  }

  .footer-links {
    text-align: center;
    align-items: center;
  }

  .footer-links>h6:after {
    left: 0;
    width: 100%;
  }


  .footer-bootom-main {
    flex-direction: column;
    gap: 5px;
  }

  .find-out-card {}

  .find-out-card {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .main-heading,
  .main-heading span {
    font-size: 30px;
  }

  section.find-out.value .sec-01-main.value-main {
    margin: 0;
  }

  section.find-out.value .sec-01-card {
    margin-bottom: 20px;
    height: auto;
  }

  section.faq .img-box-content {
    display: none;
  }

  .faq .about-us-section-heading {
    text-align: center;
    align-items: center;
  }

  .hero-content h1,
  .hero-content span {
    font-size: 50px;
  }

  .get-quote-bg>.row {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 320px) and (max-width: 767px) {}